:root {
  --fore-color: #2e3440;
  --back-color: #e1d9d2;
  --heading-ratio: 1.19;
  --universal-margin: 0.5rem;
  --universal-padding: 0.5rem;
  --button-back-color: #e5e9f0;
  --button-hover-back-color: #d8dee9;
  --button-fore-color: #2e3440;
  --button-border-color: #000000;
  --button-hover-border-color: #000000;
  --header-back-color: #a58d78;
  --header-fore-color: #3b4252;
  --header-border-color: #e5e9f0;
  --footer-fore-color: #3b4252;
  --footer-back-color: #a58d78;
  --footer-border-color: #e5e9f0;
  --footer-link-color: #88c0d0;
}

html {
	font-size: 16px;
	height: 100%;
	display: table;
	margin: auto;
}

*, html{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%
  margin: 0 !important;
  padding: 0;  
}

* {
	font-size: 1rem;
}

body{
  margin:0;
  padding:0;
  color: var(--fore-color);
  background: var(--back-color);
  text-align:center;
  display: table-cell;
  vertical-align: top;
  height: 100%;
  width:  100%;
}

header {
  height: 3.1875rem;
  background: var(--header-back-color);
  color: var(--header-fore-color);
  border-bottom: 0.0625rem solid var(--header-border-color);
  padding: calc(var(--universal-padding) / 4) 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  
  position: relative;
  z-index: 0;
  top: 0;
  width: 100vw;
  margin-bottom: 10px;
}

#titulo{
  font-family: Helvetica;
  font-size: calc(1rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio));
  margin: auto;
  color: #010001;

}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: calc(1.5 * var(--universal-margin)) var(--universal-margin);
  font-weight: 500;
}

h1 {
  font-size: calc(1rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio));
}

h2 {
  font-size: calc(1rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio));
  color: #2b0504;
}

p {
  margin: var(--universal-margin);
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  background: var(--footer-back-color);
  color: var(--footer-fore-color);
  font-size: 0.9  rem;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button {
  overflow: visible;
  text-transform: none;
}

button, [type="button"], [type="submit"], [type="reset"],
a.button, label.button, .button,
a[role="button"], label[role="button"], [role="button"] {
  display: inline-block;
  background: var(--button-back-color);
  color: var(--button-fore-color);
  border: 0.0625rem solid var(--button-border-color);
  border-radius:  8px;
  padding: var(--universal-padding) calc(1.5 * var(--universal-padding));
  margin: var(--universal-margin);
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover, button:focus, [type="button"]:hover, [type="button"]:focus, [type="submit"]:hover, [type="submit"]:focus, [type="reset"]:hover, [type="reset"]:focus,
a.button:hover,
a.button:focus, label.button:hover, label.button:focus, .button:hover, .button:focus,
a[role="button"]:hover,
a[role="button"]:focus, label[role="button"]:hover, label[role="button"]:focus, [role="button"]:hover, [role="button"]:focus {
  background: var(--button-hover-back-color);
  border-color: var(--button-hover-border-color);
}

.p5Canvas{
    margin-top: 40px;
    margin-bottom: 5px;
}

/*
  Sistema de grid e containers
*/
.container {
  margin: 0 auto;
  padding: 0 calc(1.5 * var(--universal-padding));
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
}

.col-sm,
[class^='col-sm-'],
[class^='col-sm-offset-'],
.row[class*='cols-sm-'] > * {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 0 calc(var(--universal-padding) / 2);
}

.col-sm,
.row.cols-sm > * {
  max-width: 100%;
  flex-grow: 1;
  flex-basis: 0;
}

.col-sm-1,
.row.cols-sm-1 > * {
  max-width: 8.33333%;
  flex-basis: 8.33333%;
}

.col-sm-offset-0 {
  margin-left: 0;
}

.col-sm-2,
.row.cols-sm-2 > * {
  max-width: 16.66667%;
  flex-basis: 16.66667%;
}

.col-sm-offset-1 {
  margin-left: 8.33333%;
}

.col-sm-3,
.row.cols-sm-3 > * {
  max-width: 25%;
  flex-basis: 25%;
}

.col-sm-offset-2 {
  margin-left: 16.66667%;
}

.col-sm-4,
.row.cols-sm-4 > * {
  max-width: 33.33333%;
  flex-basis: 33.33333%;
}

.col-sm-offset-3 {
  margin-left: 25%;
}

.col-sm-5,
.row.cols-sm-5 > * {
  max-width: 41.66667%;
  flex-basis: 41.66667%;
}

.col-sm-offset-4 {
  margin-left: 33.33333%;
}

.col-sm-6,
.row.cols-sm-6 > * {
  max-width: 50%;
  flex-basis: 50%;
}

.col-sm-offset-5 {
  margin-left: 41.66667%;
}

.col-sm-7,
.row.cols-sm-7 > * {
  max-width: 58.33333%;
  flex-basis: 58.33333%;
}

.col-sm-offset-6 {
  margin-left: 50%;
}

.col-sm-8,
.row.cols-sm-8 > * {
  max-width: 66.66667%;
  flex-basis: 66.66667%;
}

.col-sm-offset-7 {
  margin-left: 58.33333%;
}

.col-sm-9,
.row.cols-sm-9 > * {
  max-width: 75%;
  flex-basis: 75%;
}

.col-sm-offset-8 {
  margin-left: 66.66667%;
}

.col-sm-10,
.row.cols-sm-10 > * {
  max-width: 83.33333%;
  flex-basis: 83.33333%;
}

.col-sm-offset-9 {
  margin-left: 75%;
}

.col-sm-11,
.row.cols-sm-11 > * {
  max-width: 91.66667%;
  flex-basis: 91.66667%;
}

.col-sm-offset-10 {
  margin-left: 83.33333%;
}

.col-sm-12,
.row.cols-sm-12 > * {
  max-width: 100%;
  flex-basis: 100%;
}

.col-sm-offset-11 {
  margin-left: 91.66667%;
}

.col-sm-normal {
  order: initial;
}

.col-sm-first {
  order: -999;
}

.col-sm-last {
  order: 999;
}
